<header class="header">
  <a href="/">
    <img class="logo-img" src="/images/logo.png" width="180" alt="" /></a>
  <nav class="nav">
    <a href="/">home</a>
    <a href="#features">Wishlist <i class="fa-solid fa-heart"></i></a>
    <a href="#products">products</a>
    <a href="#categories">categories</a>
  </nav>

  <div class="icons">
    <div class="fas fa-bars" id="menu-btn"></div>
    <div class="fas fa-search" id="search-btn"></div>
    <a href="/cart">
      <div class="fas fa-shopping-cart" id="cart-btn"></div>
    </a>
    <div class="fas fa-user" id="login-btn"></div>
  </div>

  <form action="/search" method="get" class="search-form">
    <input type="search" id="search-box" name="query" placeholder="search here..." required />
    <button type="submit" for="search-box" class="fas fa-search"></button>
  </form>

  <% if (typeof user !== 'undefined' && user) { %>
  <div class="action">
    <div class="menu">
      <h3 class="text-capitalize">
        <%= user.fullname %> <br /><span class="text-muted text-lowercase"><%= user.email %></span>
      </h3>
      <ul>
        <li>
          <i class="far fa-user-circle"></i>
          <a href="/my-profile">My Profile</a>
        </li>
        <li>
          <i class="far fa-question-circle"></i>
          <a href="#">Help</a>
        </li>
        <li>
          <i class="far text-danger fa-envelope"></i>
          <a href="/logout" class="text-danger">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <% } else { %>
  <div class="action">
    <div class="menu">
      <ul>
        <li>
          <i class="fa-solid fa-user-plus"></i>
          <a href="/signup">Sign Up</a>
        </li>
        <li>
          <i class="fas fa-sign-in"></i>
          <a href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
  <% } %>
</header>
<script>
  let searchForm = document.querySelector(".search-form");

  document.querySelector("#search-btn").onclick = () => {
    searchForm.classList.toggle("active");
    shoppingCart.classList.remove("active");
    loginForm.classList.remove("active");
    navbar.classList.remove("active");
  };


  let account = document.querySelector(".menu");

  document.querySelector("#login-btn").onclick = () => {
    account.classList.toggle("active");
    searchForm.classList.remove("active");
    shoppingCart.classList.remove("active");
    navbar.classList.remove("active");
  };

  let navbar = document.querySelector(".nav");

  document.querySelector("#menu-btn").onclick = () => {
    navbar.classList.toggle("active");
    searchForm.classList.remove("active");
    shoppingCart.classList.remove("active");
    loginForm.classList.remove("active");
  };
</script>