<nav class="user-nav">
  <div class="left-section">
    <i class="fa-solid fa-bars"></i>
    <a href="/">
      <img class="logo-img" src="/images/logo.png" width="300" alt=""
    /></a>
  </div>
  <div class="right-section">
    <a href="#"
      ><i class="fa-regular fa-heart">
        <!-- <span class="count">0</span> -->
      </i></a
    >
    <a href="/cart"
      ><i class="fa-solid fa-cart-shopping">
        <% if (typeof cartCount !=='undefined' && cartCount) { %>
        <span class="count"> <%= cartCount %> </span>
        <% } %>
      </i></a
    >
    <a class="user"><i class="fa-regular fa-user"></i></a>
    <% if (typeof user !== 'undefined' && user) { %>
    <div class="account">
      <p>Do you want to log out ??</p>
      <a class="button " href="/logout">Logout</a>
    </div>
    <% } else { %>
    <div class="account">
      <p>Dont Have An Account??</p>
      <a class="button" href="/signup">Signup</a>
      <p>Alredy Have An Account??</p>
      <a class="button" href="/login">Login</a>
    </div>
    <% } %>
  </div>
</nav>
