<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">User</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Products</a>
        </li>
        <% if (typeof user !== 'undifined' && user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/orders">Orders</a>
          </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart</a>
        </li>
      </ul>
      <div class="dropdown mr-5">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if (typeof user !== 'undifined' && user) { %>
            <%= user.fullname %>
            <% } else { %>
              Account
             <% } %>
          </button> 
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
         <% if (typeof user !== 'undifined' && user) { %>
            <a class="dropdown-item" href="/logout">Logout</a>
          <% } else { %>
            <a class="dropdown-item" href="/login">Login</a>
         <% } %>
        </div>
    </div>
    </div>
  </div>
</nav>