<nav class="user-nav">
  <div class="left-section">
    <i class="fa-solid fa-bars"></i>
    <a href="/">
      <img class="logo-img" src="/images/logo.png" width="300" alt=""
    /></a>
  </div>
  <div class="right-section">
    <a href="#"
      ><i class="fa-regular fa-heart">
        <!-- <span class="count">0</span> -->
      </i></a
    >
    <a href="/cart"
      ><i class="fa-solid fa-cart-shopping">
        <% if (user &&typeof cartCount !== 'undefined') { %>
          <span class="count"><%= cartCount %></span>
        <% } %>        
      </i></a>
    <a class="user"><i class="fa-regular fa-user"></i></a>
</nav>
