<nav class="user-nav">
  <div class="left-section">
    <i class="fa-solid fa-bars"></i>
    <a href="/">
      <img class="logo-img" src="/images/logo.png" width="300" alt=""/>
    </a>
  </div>
  <div class="right-section">
    <a href="#"><i class="fa-regular fa-heart"></i></a>
    <a href="/cart">
      <i class="fa-solid fa-cart-shopping">
        <% if (user && typeof cartCount !== 'undefined') { %>
          <span class="count"><%= cartCount %></span>
        <% } %>
      </i>
    </a>
    <i class="profile fa-regular fa-user"></i>
  </div>
  <% if (typeof user !== 'undefined' && user) { %>
    <div class="action">
      <div class="menu">
          <h3 class="text-capitalize"><%= user.fullname %> <br><span class="text-muted text-lowercase"><%= user.email %></span></h3>
        <ul>
          <li>
            <i class="far fa-user-circle"></i>
            <a href="/my-profile">My Profile</a>
          </li>
          <li>
            <i class="far fa-question-circle"></i>
            <a href="#">Help</a>
          </li>
          <li>
            <i class="far fa-envelope"></i>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <% }else{ %>
      <div class="action">
        <div class="menu">
          <ul>
            <li>
              <i class="fa-solid fa-user-plus"></i>
              <a href="/signup">Sign Up</a>
            </li>
            <li>
              <i class="fas fa-sign-in"></i>
              <a href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
      <% } %>
</nav>
<script>
const tap = document.querySelector('.profile');
  tap.addEventListener('click', function(){
       const toggleMenu = document.querySelector('.menu');
  toggleMenu.classList.toggle('active');
});

</script>