/*------------------------------------------------------------------
[ Global Css ]*/
:root {
  --primcolor: #fff;
  --secondcolor: #171717;
  /* --box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  --box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondcolor);
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background:#f9f9f9;
}

section {
  margin-top: 120px;
}

.price {
  font-family: sans-serif;
}

.btn-black {
  background-color: black !important;
  color: white !important;
  border: none !important;
}

/*------------------------------------------------------------------
[ User Header]*/
.user-nav a:hover {
  text-decoration: none;
}

.user-nav {
  width: 100%;
  z-index: 999999999;
  display: flex;
  flex-direction: row;
  background-color: var(--primcolor);
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c5c4c4;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
}

.user-nav{
  .left-section .logo-img {
    width: 200px;
    margin: 10px;
  }
  
  .left-section .fa-bars {
    font-size: 25px;
    display: none;
  }
  
  .fa-cart-shopping,
  .fa-user,
  .fa-heart {
    font-size: 25px;
    padding: 20px;
  }
  
  .fa-cart-shopping,
  .fa-heart {
    position: relative;
  }
  
  .count {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: red;
    color: white;
    padding: 2px 5px;
    font-size: 13px;
    border-radius: 50%;
    font-family: sans-serif;
    font-weight: 500;
  }
  
}
/*------------------------------------------------------------------
[User icon click]*/
.action {
  position: fixed;
  top: 10px;
  right: 15px;
}
.action{
  .menu {
    position: absolute;
    top: 80px;
    right: 0;
    padding:  0 10px;
    background: #fff;
    width: 200px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  
  .menu.active {
    visibility: visible;
    opacity: 1;
  }
  
  .menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
  }
  
  .menu h3 {
    text-align: center;
    font-size: 16px;
    padding: 20px 0 10px;
    color: #555;
  }
  
  .menu h3 span {
    font-size: 12px;
    color: #cecece;
  }
  
  .menu ul {
    padding: 0;
    list-style: none;
  }
  
  .menu ul li {
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
  }
  
  .menu ul li i {
    font-size: 20px;
    margin-right: 10px;
    opacity: 0.6;
  }
  
  .menu ul li a {
    color: #555;
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .menu ul li:hover a {
    color: #4834d4;
  }
  
  .menu ul li:hover i {
    opacity: 1;
  }
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--primcolor);
}

.img {
  width: 100%;
  margin-top: 60px;
}

/*------------------------------------------------------------------
[ loading animation]*/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  display: none;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}

.loader::before {
  border-color: #000000 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.loader::after {
  margin: 8px;
}

@keyframes l16 {
  100% {
    transform: rotate(1turn);
  }
}


/*------------------------------------------------------------------
[ Product card]*/
.product-card {
  .card {
    border: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    padding: 5px;
    background-color: #fff;
    position: relative;
  }
  .add-to-cart-btn {
    display: inline-flex;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    position: absolute;
    bottom: 2rem;
    right: 1rem;
  } 
  .btn-dark {
    border-radius: 10px;
    padding: 10px;
    background-color: #000;
  }

  .prices {
    font-family: "Inter";
    font-size: 22px;
    font-weight: 900;
    font-size: 18px;
  }

  .card-title {
    font-size: 17px;
    font-weight: 700;
    margin: 0;
  }

  .not-price {
    font-size: 10px;
    margin: 8px;
    text-decoration: line-through;
  }

  .discout {
    color: #12b985;
    font-size: 14px;
    font-weight: 900;
    margin-top: 5px;
  }
}

/*------------------------------------------------------------------
[ checkout page ]*/
.order-section {
  .add-address {
    box-shadow: var(--box-shadow);
    border: 0;
    width: 100%;
    text-align: start;
    font-weight: 600;
    margin-bottom: 30px;
    color: #3d3c3c;
    outline: 0;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
  }

  .plus-icon {
    font-size: 1.3rem;
    margin: 0 10px;
  }

  .card-radio {
    background-color: #fff;
    border: 2px solid rgb(222, 221, 221);
    border-radius: 0.75rem;
    padding: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  [type="radio"] {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
  }
  .card-radio-input:checked+.card-radio {
    border-color: #3b76e1 !important;
  }
  #addressForm {
    display: none;
  }
}
/*------------------------------------------------------------------
[ View order details page ]*/
.view-details-section {
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
  }

  .text-reset {
    --bs-text-opacity: 1;
    color: inherit !important;
  }

  a {
    color: #5465ff;
    text-decoration: none;
  }
}

/*------------------------------------------------------------------
[Order history ]*/
.orders-container {
  .btn-secondary {
    color: black;
    background-color: #fff;
  }

  .btn-dark {
    background-color: #282727;
  }
}

/*------------------------------------------------------------------
[Cart section ]*/
.cart-section{
  .card {
    border-radius: 5px;
    margin-bottom: 24px;
  }
  .sticky-wrapper {
    position: relative;
  }
  
  .sticky-card {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    max-height: calc(100vh - 40px); 
    margin-bottom: 20px;
  }
  
  .table {
    border-collapse: collapse;
  }

  .btns {
    background-color: #ffff;
    border: 0;
  }

  .quantity {
    /* margin: 0 10px; */
    font-size: 1em;
    padding: 0px 30px;
    border-radius: 5px;
    border: 1px solid #e6e6e6d0;
  }

  .mdi-trash-can-outline {
    font-size: 1.5em;
  }
   
  .table{
    font-size: 1.1em;
  }
  .table td,
  .table th {
    border: none;
  }
}

.pro-details-container{
  * {
    box-sizing: border-box;
    margin: 0;
  }
  img {
    width: 100%; /* Ensure image scales properly within its container */
    height: auto; /* Maintain aspect ratio */
  }
  .img-display {
    position: relative;
    overflow: hidden;
    width: 100%; /* Make it responsive */
    max-width: 500px;
  }
  
  .img-showcase {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
  }
  
  .img-showcase img {
    min-width: 100%;
  }
  
  .img-select {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .img-item {
    flex: 0 0 auto; /* Prevent shrinking of thumbnail items */
    margin: 0.3rem;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
  }
  
  .img-item img {
    max-width: 100px;
    height: auto;
  }
  .product-detail ul li {
    margin: 0.4rem 0;
  }
  
  
  .purchase-info input {
    text-align: center;
    width: 60px;
  }
  
}
/*------------------------------------------------------------------
[Media Query for 600px]*/
@media only screen and (max-width: 600px) {

  /* user header */
  .user-nav{
    .fa-cart-shopping,
  .fa-user,
  .fa-heart {
    font-size: 23px;
    padding: 10px;
  }

  .count {
    right: 5px;
    top: 5px;
  }

  .left-section .logo-img {
    width: 180px;
    margin: 6px;
  }
  }

  /* promises */
  .promise .myText p {
    font-size: 12px;
  }

  .promise .myIconRow img {
    width: 80px;
  }

  .promise .myText p {
    font-weight: 500;
  }
  .signup-container {
    background-size: contain;
    background-position: top;
}
  #signupImg{
    /* display: none; */
  }
}