<section class="vh-100">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-lg-4"> <!-- Adjust the column size to control width -->
          <form id="resetPasswordForm">
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="password" id="newPassword" class="form-control" required />
              <label class="form-label" for="newPassword">Enter password</label>
              <input type="text" value="<%= token %>" id="token" hidden>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="password" id="confirmPassword" class="form-control" required />
              <label class="form-label" for="confirmPassword">Confirm password</label>
              <p id="passErr" style="position: absolute;"></p>
            </div>
            <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">
              Change password
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  