<section>
    <div class="container vh-100">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card text-center" style="width: 300px;">
                <div class="card-header h5">Password Reset</div>
                <div class="card-body px-5">
                    <p class="card-text py-2">
                        Enter your email address and we'll send you an email with instructions to reset your password.
                    </p>
                  <form id="forgotPasswordForm">
                    <div data-mdb-input-init class="form-outline">
                        <input type="email" id="passwordEmail" class="form-control my-3" required />
                        <label class="form-label" for="typeEmail">Enter Email</label>
                    </div>
                    <button type="submit" data-mdb-ripple-init class="btn btn-dark w-100">Reset password</button>
                  </form>
                    <div class="d-flex justify-content-between mt-4">
                        <a class="" href="/login">Login</a>
                        <a class="" href="/signup">Register</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>